<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="settingName1" value="" />
    <add key="settingName1" value="" />
  </appSettings>

  <connectionStrings>
    <add name="myConnection1" connectionString="" providerName="System.Data.SqlClient" />
    <add name="myConnection2" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>

